.authorsFieldContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;

    & > *:first-child {
        margin-right: 10px;
    }
}

.buttonsContainer {
    float: right;

    & > *:first-child {
        margin-right: 10px;
    }
}
